button {
    border: 1px solid black;
    background-color: white;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: -3px -3px 7px #a0a0a032,
        3px 3px 5px rgb(94 104 121 / 42%);
}

button:hover {
    background-color: black;
    color: white;
}

/* apply button style */
.apply {
    background-color: rgb(190, 5, 5);
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}